{% extends "CaimanWed/base.html" %}
{% load static %}

{% block Contenedor %}

<div class="container px-5 mt-4">

    <div class="row">
        <div class="col-sm-4">
            <div class="card" style="width:400px">

                <div class="card-body">
                    <h4 class="card-title">{{usuario.nombre}} {{usuario.apellido}}</h4>
                    <p class="card-text"><span style="font-weight:bold">Rut: </span>{{usuario.rut}}</p>
                    <p class="card-text"><span style="font-weight:bold">Email: </span>{{usuario.email}}</p>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock Contenedor %}