{% extends "CaimanWed/base.html" %}
{% load static %}

{% block Contenedor %}

<div class="container px-5 mt-4">

    <h1>Registro de usuarios</h1>
    <a href="{% url "index_prueba" %}" role="button">Agregar Usuario</a>

    <div class="container mt-3">
        <h2>Usuarios</h2>
        <!-- Codigo para la tabla de los usuarios -->
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>NOMBRE</th>
                    <th>EMAIL</th>
                    <th>CONTRASENA</th>
                    <th>TIPO</th>
                </tr>
            </thead>
            <tbody>
                {% for u in usuarios %}
                <tr>
                    <td>{{u.nombre}}</td>
                    <td>{{u.email}}</td>
                    <td>{{u.contrasena}}</td>
                    <td>{{u.tipo}}</td>
                    <td><a href="{% url "detalleusuario" u.nombre %}" role="button" class="btn btn-info btn-sm text.light">Ver usuario</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>


{% endblock Contenedor %}