{% extends "CaimanWed/base.html" %}
{% load static %}

{% block Contenedor %}

<div class="container px-5 mt-4">

    <h1>Registro de usuarios</h1>


    <div class="container mt-3">
        <h2>Usuarios</h2>
        <!-- Codigo para la tabla de los usuarios -->
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>RUT</th>
                    <th>NOMBRE</th>
                    <th>APELLIDO</th>
                    <th>EMAIL</th>
                </tr>
            </thead>
            <tbody>
                {% for u in Usuario %}
                <tr>
                    <td>{{u.rut}}</td>
                    <td>{{u.nombre}}</td>
                    <td>{{u.apellido}}</td>
                    <td>{{u.email}}</td>
                    <td><a href="{% url "detalleusuario" u.rut %}" role="button" class="btn btn-info btn-sm text.light">Ver usuario</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>


{% endblock Contenedor %}